.chartsGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.chartsGrid.withBorder {
  border: 1px solid hsl(var(--border));
  border-radius: 0.5rem;
  padding: 1rem;
}

.chartsGridTop {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.chartsGridTop.withBorder {
  border: 1px solid hsl(var(--border));
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .chartsGrid {
    grid-template-columns: 1fr;
  }
  
  .chartsGridTop {
    grid-template-columns: 1fr;
  }
  
  .chartsGridTop > :first-child {
    grid-column: span 1;
  }
}